<fieldset class="cbi-section">
    <div id="geph5_status_icon">
        <p>
            <strong><%:Status%>: </strong>
            <span id="geph5_status_text" style="color: grey;"><%:Checking...%></span>
        </p>
    </div>
</fieldset>

<script type="text/javascript">//<![CDATA[
    var statusText = document.getElementById('geph5_status_text');

    function updateStatus() {
        // 请求后台查询状态
        XHR.get('<%=luci.dispatcher.build_url("admin", "services", "geph5", "status")%>', null, function(x, data) {
            if (data && data.running) {
                statusText.innerHTML = '<%:Running%>';
                statusText.style.color = 'green';
            } else {
                statusText.innerHTML = '<%:Not Running%>';
                statusText.style.color = 'red';
            }
        });
    }

    // 每5秒自动刷新一次
    window.setInterval(updateStatus, 5000);
    // 打开页面立即刷新一次
    updateStatus();
//]]></script>
